<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Portfolio-java</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ContactServlet1</display-name>
		<servlet-name>ContactServlet1</servlet-name>
		<servlet-class>prg.sachin.controller.ContactServlet1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ContactServlet2</display-name>
		<servlet-name>ContactServlet2</servlet-name>
		<servlet-class>prg.sachin.controller.ContactServlet2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Contactservlet2</display-name>
		<servlet-name>Contactservlet2</servlet-name>
		<servlet-class>prg.sachin.controller.ContactServlet2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ReadContent</display-name>
		<servlet-name>ReadContent</servlet-name>
		<servlet-class>prg.sachin.controller.ReadContent</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Delete</display-name>
		<servlet-name>Delete</servlet-name>
		<servlet-class>prg.sachin.controller.Delete</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminLogin1</display-name>
		<servlet-name>AdminLogin1</servlet-name>
		<servlet-class>prg.sachin.controller.AdminLogin1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminLogin2</display-name>
		<servlet-name>AdminLogin2</servlet-name>
		<servlet-class>prg.sachin.controller.AdminLogin2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminLogout</display-name>
		<servlet-name>AdminLogout</servlet-name>
		<servlet-class>prg.sachin.controller.AdminLogout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ReadAdminlogin</display-name>
		<servlet-name>ReadAdminlogin</servlet-name>
		<servlet-class>prg.sachin.controller.ReadAdminlogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangeCredential1</display-name>
		<servlet-name>ChangeCredential1</servlet-name>
		<servlet-class>prg.sachin.controller.ChangeCredential1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangeCredential2</display-name>
		<servlet-name>ChangeCredential2</servlet-name>
		<servlet-class>prg.sachin.controller.ChangeCredential2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UploadProject1</display-name>
		<servlet-name>UploadProject1</servlet-name>
		<servlet-class>prg.sachin.controller.UploadProject1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UploadProject2</display-name>
		<servlet-name>UploadProject2</servlet-name>
		<servlet-class>prg.sachin.controller.UploadProject2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UploadProjectPojo</display-name>
		<servlet-name>UploadProjectPojo</servlet-name>
		<servlet-class>prg.sachin.model.UploadProjectPojo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteProject</display-name>
		<servlet-name>DeleteProject</servlet-name>
		<servlet-class>prg.sachin.controller.DeleteProject</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddEducation</display-name>
		<servlet-name>AddEducation</servlet-name>
		<servlet-class>prg.sachin.controller.AddEducation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddEducation2</display-name>
		<servlet-name>AddEducation2</servlet-name>
		<servlet-class>prg.sachin.controller.AddEducation2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ReadEducation</display-name>
		<servlet-name>ReadEducation</servlet-name>
		<servlet-class>prg.sachin.controller.ReadEducation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UploadResume</display-name>
		<servlet-name>UploadResume</servlet-name>
		<servlet-class>prg.sachin.controller.UploadResume</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DownloadResume</display-name>
		<servlet-name>DownloadResume</servlet-name>
		<servlet-class>prg.sachin.controller.DownloadResume</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteEducation</display-name>
		<servlet-name>DeleteEducation</servlet-name>
		<servlet-class>prg.sachin.controller.DeleteEducation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AppInitServlet</display-name>
		<servlet-name>AppInitServlet</servlet-name>
		<servlet-class>prg.sachin.controller.AppInitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>ContactServlet1</servlet-name>
		<url-pattern>/ContactServlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContactServlet2</servlet-name>
		<url-pattern>/ContactServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Contactservlet2</servlet-name>
		<url-pattern>/Contactservlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadContent</servlet-name>
		<url-pattern>/ReadContent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/Delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogin1</servlet-name>
		<url-pattern>/AdminLogin1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogin2</servlet-name>
		<url-pattern>/AdminLogin2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogout</servlet-name>
		<url-pattern>/AdminLogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadAdminlogin</servlet-name>
		<url-pattern>/ReadAdminlogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeCredential1</servlet-name>
		<url-pattern>/ChangeCredential1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeCredential2</servlet-name>
		<url-pattern>/ChangeCredential2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadProject1</servlet-name>
		<url-pattern>/UploadProject1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadProject2</servlet-name>
		<url-pattern>/UploadProject2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadProjectPojo</servlet-name>
		<url-pattern>/UploadProjectPojo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteProject</servlet-name>
		<url-pattern>/DeleteProject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddEducation</servlet-name>
		<url-pattern>/AddEducation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddEducation2</servlet-name>
		<url-pattern>/AddEducation2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadEducation</servlet-name>
		<url-pattern>/ReadEducation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadResume</servlet-name>
		<url-pattern>/UploadResume</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadResume</servlet-name>
		<url-pattern>/DownloadResume</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteEducation</servlet-name>
		<url-pattern>/DeleteEducation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AppInitServlet</servlet-name>
		<url-pattern>/AppInitServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
